{% load url from compat %}{% spaceless %}
<script type="text/javascript">
(function($) {
    $(document).on("change", "#{{ id }}_ft, #{{ id }}_in", function() {
        var value = new Array($("#{{ id }}_ft").val(), $("#{{ id }}_in").val());

        $.ajax({
            type: 'GET',
            data: {
                'from_units': 'imperial',
                'to_units': 'metric',
                'id': '{{ id }}',
                'name': '{{ name }}',
                'value': value,
                'module_name': '{{ module_name }}',
                'klass_name': '{{ klass_name }}'
            },
            url: '{% url 'unitology_reload' %}',
            success: function(response) {
                $("#{{ id }}_cm").val($("#{{ id }}_cm", response).val());
            }
        });
    });

    $(document).on("change", "#{{ id }}_cm", function() {
        var value = $("#{{ id }}_cm").val();

        $.ajax({
            type: 'GET',
            data: {
                'from_units': 'metric',
                'to_units': 'metric',
                'id': '{{ id }}',
                'name': '{{ name }}',
                'value': value,
                'module_name': '{{ module_name }}',
                'klass_name': '{{ klass_name }}'
            },
            url: '{% url 'unitology_reload' %}',
            success: function(response) {
                $("#{{ id }}_ft").val($("#{{ id }}_ft", response).val());
                $("#{{ id }}_in").val($("#{{ id }}_in", response).val());
            }
        });
    });
})(jQuery || django.jQuery);
</script>
<span id="{{ id }}">{{ widget }}</span>
{% endspaceless %}
